<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pumasi.surbay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="READ_PHONE_STATE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/surbay_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurBay"
        android:usesCleartextTraffic="true">
        <activity android:name="com.pumasi.surbay.mypage.IGotGifts"></activity>
        <activity android:name="com.pumasi.surbay.TipdetailActivity" />
        <activity android:name="com.pumasi.surbay.TipImageDetail" />
        <activity android:name="com.pumasi.surbay.TipWriteActivity" />
        <activity android:name="com.pumasi.surbay.Feedbackdetail" />
        <activity android:name="com.pumasi.surbay.mypage.MypageSettingAlerm" />
        <activity android:name="com.pumasi.surbay.mypage.PwChange" />
        <activity android:name="com.pumasi.surbay.mypage.SchoolAuth" />
        <activity android:name="com.pumasi.surbay.mypage.AccountFix" />
        <activity android:name="com.pumasi.surbay.mypage.MypageSettingAccount" />
        <activity android:name="com.pumasi.surbay.mypage.MypageSettingMain" />
        <activity android:name="com.pumasi.surbay.FindIdActivity" />
        <activity android:name="com.pumasi.surbay.NoticeDetailActivity" />
        <activity android:name="com.pumasi.surbay.noticeActivity" />
        <activity android:name="com.pumasi.surbay.mypage.Mypage_uploadNParti" />
        <activity android:name="com.pumasi.surbay.BoardsSearchActivity" />
        <activity
            android:name="com.pumasi.surbay.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pumasi.surbay.MainActivity" />
        <activity android:name="com.pumasi.surbay.LoginActivity" />
        <activity android:name="com.pumasi.surbay.WriteActivity" />
        <activity android:name="com.pumasi.surbay.SurveyWebActivity" />
        <activity android:name="com.pumasi.surbay.PostDetailActivity" />
        <activity android:name="com.pumasi.surbay.SignupActivity" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>