<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pumasi.surbay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="READ_PHONE_STATE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/surbay_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurBay"
        android:usesCleartextTraffic="true">
        <activity android:name="com.pumasi.surbay.mypage.GiftDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.pumasi.surbay.mypage.IGotGifts"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.pumasi.surbay.TipdetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.pumasi.surbay.TipImageDetail"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.TipWriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.pumasi.surbay.Feedbackdetail"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.MypageSettingAlerm"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.PwChange"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.SchoolAuth"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.AccountFix"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.MypageSettingAccount"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.MypageSettingMain"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.FindIdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.pumasi.surbay.NoticeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.pumasi.surbay.noticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.mypage.Mypage_uploadNParti"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.BoardsSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pumasi.surbay.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pumasi.surbay.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.WriteActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.SurveyWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.pumasi.surbay.SignupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>