<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surbay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="READ_PHONE_STATE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/surbay_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurBay"
        android:usesCleartextTraffic="true">
        <activity android:name=".TipdetailActivity"></activity>
        <activity android:name=".TipImageDetail" />
        <activity android:name=".TipWriteActivity" />
        <activity android:name=".Feedbackdetail" />
        <activity android:name=".mypage.MypageSettingAlerm" />
        <activity android:name=".mypage.PwChange" />
        <activity android:name=".mypage.SchoolAuth" />
        <activity android:name=".mypage.AccountFix" />
        <activity android:name=".mypage.MypageSettingAccount" />
        <activity android:name=".mypage.MypageSettingMain" />
        <activity android:name=".FindIdActivity" />
        <activity android:name=".NoticeDetailActivity" />
        <activity android:name=".noticeActivity" />
        <activity android:name=".mypage.Mypage_uploadNParti" />
        <activity android:name=".BoardsSearchActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".SurveyWebActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>